.Swiper_Parent {
    margin-top: 3rem;
    background-image: url('../../public/Mountain1.svg');
    background-repeat: no-repeat;
}

.Title {
   
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(16, 25, 40);
    @media screen and (max-width: 650px) {
        font-size: 2rem;
    }
   
}