@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.Swiper_Parent {
    margin-top: 3rem;
    background-image: url('../../public/Mountain1.svg');
    background-repeat: no-repeat;
}

.Title {
    margin-left: 4rem;
    font-size: 3rem;
    color: rgb(16, 25, 40);
    font-family:'Poppins';
}