

.NavBarMain {
    
    box-sizing: border-box;
    padding: 1rem;
    z-index: 100000;
    position: sticky;
    top:0;
    display: flex;
    max-width: 2000px;
    align-items: center;
    font-size: 2rem;
    z-index: 20;
    color: white;
    overflow:hidden;
}




.HamburgerWrapper {
    border-radius: 50%;
    padding: 0.3rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 100;
    @media screen and (min-width:900px) {
        display: none;
    }
}

.MenuItem {
    
}


.menu_itemsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(0,101,163,1) 0%, rgba(0,173,238,1) 76%); 
    color:white !important;    padding: 4rem;
    font-size: 1.4rem;
    color: white;
    height: 100%;
    overflow-y: auto;

    @media screen and (min-width:900px) {
    }
}



